/*
orange color: #e67e22;
turquise color: #16a085;
*/

/* -------------------- BASIC SETUP -------------------- */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    background-color: #fff;
    color:#555;    
    font-family:'Raleway', 'Arial', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* -------------------- REUSABLE COMPONENTS -------------------- */

.row{
    max-width: 1140px;
    margin:0 auto;
}

section{
    padding:80px 0;
}

.box{
    padding:1%;
}


/* -------------------- HEADINGS -------------------- */

h1,h3{
    font-weight: 300;
    text-transform: uppercase;
}



h1{
    margin-top:0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 240%;
    letter-spacing: 8px;
    word-spacing: 4px;
    font-weight: 300;
}

h2{
    font-size: 140%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color:#fff;
    font-weight: 300;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

/*h2:after{
    display:block;
    height: 2px;
    background-color: #16a085;
    content: " ";
    width:100px;
    margin:0 auto;
    margin-top: 30px;
}*/

/* -------------------- PARAGRAPHS -------------------- */
.long-copy{
    line-height: 145%;
    width:70%;
    margin-left:15%;
    text-align: center;
    font-size: 92%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}


/* -------------------- ICONS -------------------- */
.icon-big{
    font-size: 350%;
    display:block;
    color:#16a085;
    margin-bottom: 10px;
    margin-left: auto
}

/* -------------------- LINKS -------------------- */
a{
    color:#fff;
}

a:hover{
    color:#f2f2f2;
}





/* -------------------- BUTTONS -------------------- */
.btn:link,
.btn:visited,
input[type=submit] {
    display:inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right: 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #16a085;
    border:1px solid #16a085;
    color:#fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border:1px solid #16a085;
    color: #16a085;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #149179;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border:1px solid #149179;
    
}

.btn-ghost:hover,
.btn-ghost:active{
    border:1px solid #149179;
    color: #fff;
}


/* -------------------- HEADER -------------------- */

header{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(images/background2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/background2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    text-align: center;
    width: 1000px;
    top:60%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.logo{
    height: 60px;
    width:auto;    
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.logo:hover{
    -webkit-transform: scale(1.055);
    -ms-transform: scale(1.055);
    transform: scale(1.055);
}

.logo-link{
    margin-left: auto;
    margin-right: auto;
}


/* Main navi */

.main-nav{
    list-style:none;
    margin-top:40px;
}

.main-nav li{
    display:inline-block;
    margin-left:40px;
    margin-right: 40px;
}

.div-for-li{
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-bottom: 2px solid #e67e22 transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #149179;
    color:#d9d9d9;
}


/* Sicky navi */
.sticky{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: hsla(0, 0%, 100%, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;    
}

.sticky .logo{
    margin-top:0; 
    margin-bottom: 5px; 
    height: 50px;
    width: auto;
}

.sticky .logo-row{
    display: none;
}

.sticky .main-nav{ margin-top:18px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 16px 0;
    color:black;
}

/* Mobile navi */

.mobile-nav-icon{
    float:right;
    margin-top:30px;
    cursor: pointer;
    display:none;
}

.mobile-nav-icon i{
    font-size: 200%;
    
}


/* -------------------- OPTIONS -------------------- */

.section-features .long-copy{
    margin-bottom: 30px;
}

.option-image{
    width: 100%;
    height: auto;
}

.option-name{
    color:#16a085;
}


/* -------------------- DESIGN -------------------- */

.section-steps{
    background-color: #f4f4f4;
}

.design-list{
   list-style-type: none;     
}

.design-list li{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    text-align: center;
}

.samples{
    text-align: center;
}

.samples h3{
    margin-bottom: 2rem;
}

.sample img{
    width:70%;
    height: auto;
    margin-bottom: 1rem;
}

.steps-box{
    padding:0.5rem;
}

.works-step{
   margin-bottom:1rem;
}

.works-step div{
    display: inline-block;
    float:left;
    color:#16a085;
    border:2px solid #16a085;
    border-radius: 50%;
    height: 1.5rem;
    width:1.5rem;
    text-align: center;
    padding: 0.2rem;
    float: left;
    margin-right: 0.5rem;
}


/* -------------------- LOGO DESIGN -------------------- */

.logo-design{
    
    text-align: center;
}

.logo-design h3{
    margin-bottom: 2rem;
}

.logo-design .row img{
    width: 50%;
}

/* -------------------- ABOUT -------------------- */



.about-textbox{
    height: 25rem;
    display: block;
	float:left;    
    width:40%;
    padding:1rem;
    background-color: rgb(215, 219, 226);
}

.about-text{
    width:auto;
    text-align: center;
    margin-top: 2rem;
    font-size: 92%;
    line-height: 1.5;
}

.about-photo{
    display: block;
	float:left;
    width:48%;
    text-align: right;
}

.about img{
    height: 25rem;
    width: auto;
}

#about-quote{
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top:2rem;
}

#about-quote-author{
    font-size: 80%;
    text-align: center;
    font-weight: 300;
}




/* -------------------- CONTACT FORM -------------------- */

.contact-form{
    width:60%;
    margin:0 auto;
}

input[type=text],
input[type=email],
input[type=password],
select,textarea{
    width:100%;
    padding:7px;
    border-radius:3px;
    border: 1px solid #ccc;
}

textarea{
    height:100px;
}

input[type=checkbox]{
    margin:10px 5px 10px 0;
}

::-webkit-input-placeholder{
    color:#949696;
}

:-ms-input-placeholder{
    color:#949696;
}

::placeholder{
    color:#949696;
}

option{
    color:#949696;
}



/* -------------------- FOOTER -------------------- */

footer{
    background-color:#333;
    padding:25px;
    font-size: 80%;
    
}

.footer-nav{
    list-style: none;
    float:left;
}

.social-links{
    list-style: none;
    float:right;
}

.footer-nav li,
.social-links li{
    display:inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin:0;
}

.footer-nav li a:link,
.footer-nav li a:visited{
    text-decoration: none;
    border:0;
    color:#888;
    -webkit-transition:color 0.2s;
    transition:color 0.2s;
}
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border:0;
    color:#888;
    -webkit-transition:color 0.2s;
    transition:color 0.2s;
    font-size:160%;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color:#ddd;
}

.social-links li a:hover,
.social-links li a:active{
    color:#3b5998;
}

footer p{
    color:#888;
    text-align: center;
    margin-top:0px;
}



/* -------------------- SIGN IN & REGISTER -------------------- */

.submit-btn{
    margin-top:1rem;
    width:8rem;
}
.submit{
    text-align: center;
}


input[type=text].date{
    width:18%;
}

label{
    width:100%;
    height: auto;
}


/* -------------------- ANIMATION -------------------- */

.js--wp-1{
   opacity:0; 
}

.js--wp-1.animated{
   opacity:1; 
}

.js--wp-2{
   opacity:0; 
}

.js--wp-2.animated{
   opacity:1; 
}



